@import "./nav.css";
@import "./messages.css";
@import "./articles.css";

/* LIGHT THEME DEFAULT */
:root {
  --primary-color: rgb(248, 248, 248);
  --primary-text: black;
  --button-delete: red;
  --button-edit: orange;
  --button-text: white;
  --active-user-bkg: green;
  --chat--bkg: rgba(0, 0, 0, 0.1);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--primary-text);
}

/* DARK THEME */
[data-theme="dark"] {
  --primary-color: rgb(31, 32, 39);
  --primary-text: rgb(240, 240, 240);
  --chat-bkg: rgba(255, 255, 255, 0.1);
}

.card {
  border: 1px solid lightgray;
  padding: 0.5rem;
  margin: 0.5rem;
  /* align-items: center; */
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.form > input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;
}
.form > input:last-child {
  margin-bottom: 0;
}

.dashboard {
  display: flex;
  justify-content: space-around;
}

.button--delete {
  background-color: var(--button-delete);
  border: none;
  border-radius: 0.5rem;
  color: var(--button-text);
  opacity: 0.5;
}
.button--delete:hover {
  opacity: 1;
}

.section--header {
  display: flex;
  justify-content: space-between;
}

/* GENERIC BUTTONS */
button {
  border-radius: 0.5rem;
  border: none;
  opacity: 0.7;
  padding: 0.2rem 0.5rem;
  font-size: 0.6rem;
  font-weight: 900;
}

button:hover {
  opacity: 1;
}

.delete {
  background-color: var(--button-delete);
  color: var(--button-text);
}

.icons__container {
  text-align: right;
}

.icons__container > i {
  font-size: 0.8rem;
  color: gray;
  margin-left: 0.2rem;
}
.icons__container > i:hover {
  color: red;
}

/* AUTH - Login-Register */
.auth > section {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.center {
  text-align: center;
}
