@import "./nav.css";
@import "./messages.css";
@import "./articles.css";
@import "./tasks.css";
@import "./events.css";
@import "./friends.css";
@import "./weather.css";

/* LIGHT THEME DEFAULT */
:root {
  --primary-color: rgb(248, 248, 248);
  --primary-text: black;
  --button-delete: red;
  --button-edit: orange;
  --button-text: white;
  --active-user-bkg: green;
  --chat-bkg: rgb(255, 255, 255);
  --card-bkg: rgb(255, 255, 255);
  --prominent-bkg: rgb(128, 225, 255);
  --isFriend-bkg: cornsilk;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--primary-text);
}

/* DARK THEME */
[data-theme="dark"] {
  --primary-color: rgb(31, 32, 39);
  --primary-text: rgb(240, 240, 240);
  --chat-bkg: rgb(24, 24, 24);
  --prominent-bkg: rgb(116, 0, 184);
  --isFriend-bkg: rgb(97, 81, 16);
  --card-bkg: rgb(24, 24, 24);
}

.card {
  border: 1px solid lightgray;
  padding: 0.5rem;
  margin: 0.5rem;
}

.card-bkg {
  background-color: var(--card-bkg);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.form > input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;
}
.form > input:last-child {
  margin-bottom: 0;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard > div {
  margin: 0 0.5rem;
  flex-basis: 21%;
  min-width: 300px;
  flex-grow: 1;
}

.category__container {
  padding: 0.5rem;
}

.button--delete {
  background-color: var(--button-delete);
  border: none;
  border-radius: 0.5rem;
  color: var(--button-text);
  opacity: 0.5;
}
.button--delete:hover {
  opacity: 1;
}

.section--header {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

/* GENERIC BUTTONS */
button {
  border-radius: 0.5rem;
  border: none;
  opacity: 0.7;
  padding: 0.2rem 0.5rem;
  font-size: 0.6rem;
  font-weight: 900;
}

button:hover {
  opacity: 1;
}

.delete {
  background-color: var(--button-delete);
  color: var(--button-text);
}

.icons__container {
  text-align: right;
}

.icons__container > i {
  font-size: 0.8rem;
  color: gray;
  margin-left: 0.2rem;
}
.icons__container > i:hover {
  color: red;
}

/* AUTH - Login-Register */
.auth > section {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.center {
  text-align: center;
}

/* DRAG AND DROP */
.dropzone {
  padding-bottom: 1em;
}

.dragging {
  border: 1px solid gray;
}

.droppable {
  border: 1px solid lightgray;
}
