#messages {
  border: 1px solid lightgray;
  position: relative;
}

.message--list {
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  height: 300px;
}

.message {
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.activeUser {
  text-align: right;
  flex-direction: row-reverse;
}

.sender {
  border: none;
  background-color: var(--primary-color);
  color: var(--primary-text);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
}
button.sender {
  background-color: gold;
}
button.sender:hover {
  background-color: orange;
}

.activeUser > div.sender {
  background-color: var(--active-user-bkg);
}

.private {
  background-color: teal;
  color: white;
}
