.message {
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.activeUser {
  text-align: right;
  flex-direction: row-reverse;
}

.sender {
  background-color: var(--primary-color);
}
