.nav__container {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--primary-text);
  padding: 1rem;
  margin-bottom: 1em;
}

.nav--logo {
  font-size: 4rem;
  font-weight: 700;
}

.nav--switches {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOGGLE - Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper > .before {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
.theme-switch-wrapper > .after {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.theme-switch {
  display: inline-block;
  height: 18px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #4b4b4b;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 10px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 10px;
}

input:checked + .slider {
  background-color: #d86800;
}

input:checked + .slider:before {
  transform: translateX(22px);
  background-color: rgb(0, 0, 0);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
